/* Base Styles */

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box ;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  background: #fff ;
  color: #333 ;

}

a {
  text-decoration: none ;
  color: #17a2b8 ;
}

ul {
  list-style-type: none ;
}

img {
  width: 100% ;
}


h1 {
  font-size: 1.8rem;
  font-weight: bold;
}


.container {
  max-width: 1100px ;
  margin: auto ;
  overflow: hidden ;
  padding: 0 2rem ;
 /* margin-top: 4rem ;*/
 /* margin-bottom: 3rem ;*/
}

/* Header */

.navigaation-bar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0.9rem 2rem !important;
  position: fixed !important;
  z-index: 1 !important;
  width: 100% !important;
  top: 0 !important;
  border-bottom: 1px solid #17a2b8 !important;
  opacity: 0.9 !important;
  font-size: 1.2rem !important;
}
.navigaation-bar ul {
  display: flex !important;
}
.navigaation-bar ul i {
  display: flex !important;
  padding: 0 10px !important;
  align-items: center !important;
}
.navigaation-bar ul i:hover {
  color: #17a2b8 !important;
  cursor: pointer !important;
}
.navigaation-bar li {
  padding: 0 1.2rem !important;
}
.navigaation-bar a {
  color: #fff !important;
}
.navigaation-bar a:hover {
  color: #17a2b8 !important;
}

.background-dark {
  background-color: #343a40 !important;
  color: #fff !important;
}

/* Footer */

/* Footer */
.micro-eye-logo {
  width: 300px ;
  height: 160px ;
}

.footer {
  background: #dddddd88 ;
  color: #333 ;
}

.footer a {
  color: #333 ;
}

.footer a:hover {
  color: #17a2b8 !important;
}

.footer-container {
  max-width: 1100px !important;
  margin: auto !important;
  padding: 40px !important;
}

.footer-lists {
  display: flex !important;
  justify-content: space-between !important;
}

.footer-lists .list-head {
  text-transform: uppercase !important;
  font-weight: bold !important;
  margin-bottom: 5px !important;
}

.divider {
  width: 100% !important;
  height: 3px !important;
  border: 1px solid #333 !important;
  margin: 30px 0 !important;
  margin-bottom: 0 !important;
}

.social-icons img {
  width: 25px !important;
  height: 25px !important;
  margin-right: 25px ;
}

/* Footer End */

.sidebar-logo {
  width: 300px !important;
  height: 140px !important;
  margin-left: 1.2rem !important;
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

.fa-bars:before {
  margin-top: 0.3rem !important;
}






/* other all*/


.container2 {
  background-color: white ;
  width:97% !important;
  margin:auto;
  background:white;
  font-size:17px !important;
  font-family: 'Lato', sans-serif !important;
  color:black;
  padding: 20px;
}

.container1 {

background-color: white;
width:96% !important;
margin:auto;
background:white;
font-size:17px !important;
font-family: 'Lato', sans-serif !important;
color:black;
padding: 16px;
}


/* Full-width input fields */
input[type=text], input[type=password], select, textarea {
  width: 90%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}



hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 30%;
opacity: 0.9;
}

button:hover {
opacity:10;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #005de6;
}

/*#ebb000*/
.signupbtn {
  background-color: #d49f00  ;
  color: white;
}


/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 45%;
}


/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
   width: 100%;
}
}


#customers {
  font-family: 'Lato', sans-serif !important;
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;

  width:95% !important;
  margin:auto;
  background:white;
  font-size:14px;
  font-family: 'Lato', sans-serif !important;
  color:black;
  padding: 16px;
}

#customers td, #customers th {
border: 1px solid #ddd;
padding: 8px;
font-size: 18px;
text-align: center !important;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center !important;

background-color: #04AA6D;
color: white;
}



/*heading photo css*/
.container0 {
  position: relative;
  width: 100%;
  
  margin: 0 auto;
}

.container0 img {vertical-align: middle;    height: 450px;}

.container0 .content0 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
}


/*heading photo css*/
.container0 {
  position: relative;
  width: 100%;
  
  margin: 0 auto;
}

.container0 img {vertical-align: middle;    height: 450px;}

.container0 .content0 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 30px;
}




/* search bar css */

.topnav123 {
  font-family: 'Lato', sans-serif !important;
  overflow: hidden;
  background-color: #e9e9e9;
}




.topnav123 .search-container1 {
  float: left;
}

.topnav123 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:40%;
}

.topnav123 .search-container button {
  /*  float: ;  */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #757575 !important;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width:10%;
  }
  
  .topnav123 .search-container button:hover {
    background: #404040 !important;
  }

@media screen and (max-width: 600px) {
  .topnav123 .search-container {
    float: none;
  }
  .topnav123 input[type=text], .topnav123 .search-container button {
  /*  float:;  */
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav123 input[type=text] {
    border: 1px solid #ccc;  
  }
}

.alert {
    padding: 0.8rem !important;
    margin: 1px !important;
    opacity: 0.9 !important;
    background-color: #f4f4f4 !important;
    color: #333 !important;
    width:90%;
}

.alert.alert-success {
    background-color: #28a745 !important;
    color: #fff !important;
}
.alert.alert-danger {
    background-color: #dc3545 !important;
    color: #fff !important;
}
.alert-success {
    color: #28a745 !important;
}












/*

<!--
<style>
    .container2 {
      background-color: #f2f2f2;
      width:97% !important;
      margin:auto;
      background:#f2f2f2;
      font-size:14px;
      font-family:Verdana;
      color:black;
      padding: 20px;
}

     .container1 {
       background-color: #f2f2f2;
width:96% !important;
margin:auto;
background:#f2f2f2;
font-size:14px;
font-family:Verdana;
color:black;
padding: 16px;
}


/* Full-width input fields 
input[type=text], input[type=password], select, textarea {
width: 90%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=text]:focus, input[type=password]:focus, select, textarea {

}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for all buttons 
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;y
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button
.cancelbtn {
padding: 14px 20px;
background-color: #255aa2;
}

.signupbtn {
background-color: #d6c704;
}

/* Float cancel and signup buttons and add an equal width
.cancelbtn, .signupbtn {
float: left;
width: 45%;
}

#btn1{
background-color:#b7aao4;
color:white;
}

#btn2{
background-color: #255aa2;
}

/* Clear floats 
.clearfix::after {
content: "";
clear: both;
display: table;

}

/* Change styles for cancel button and signup button on extra small screens 
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
width: 100%;
}
}


#customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;

width:95% !important;
margin:auto;
background:white;
font-size:14px;
font-family:Verdana;
color:black;
padding: 16px;
}

#customers td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;

background-color: #333;
color: white;
}






/*heading photo css
.container0 {
position: relative;
width: 100%;

margin: 0 auto;
}

.container0 img {vertical-align: middle;    height: 450px;}

.container0 .content0 {
position: absolute;
bottom: 0;
background: rgb(0, 0, 0); /* Fallback color 
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity 
color: #f1f1f1;
width: 100%;
padding: 30px;
}



/* search bar css 

.topnav123 {
overflow: hidden;
background-color: #e9e9e9;
}




.topnav123 .search-container1 {
float: left;
}

.topnav123 input[type=text] {
padding: 6px;
margin-top: 8px;
font-size: 17px;
border: none;
width:40%;
}

.topnav123 .search-container button {
float: ;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
width:10%;
}

.topnav123 .search-container button:hover {
background: #ccc;
}

@media screen and (max-width: 600px) {
.topnav123 .search-container {
float: none;
}
.topnav123 input[type=text], .topnav123 .search-container button {
float:;
display: block;
text-align: left;
width: 100%;
margin: 0;
padding: 14px;
}
.topnav123 input[type=text] {
border: 1px solid #ccc;  
}
}

.alert {
padding: 0.8rem !important;
margin: 1px !important;
opacity: 0.9 !important;
background-color: #f4f4f4 !important;
color: #333 !important;
width:90%;
}

.alert.alert-success {
background-color: #28a745 !important;
color: #fff !important;
}
.alert.alert-danger {
background-color: #dc3545 !important;
color: #fff !important;
}
.alert-success {
color: #28a745 !important;
}

</style>

*/





















/* Media Queries */

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 2rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: bold;
  } 

  ul li a {
    font-size: 1.2rem;
  } 

  ul {
    text-align: center !important;
    justify-content: center !important;
  }

  .navigaation-bar {
    display: block !important;
    text-align: center !important;
  }

}

@media screen and (max-width: 923px) {
  .footer-lists {
    display: block !important;
    text-align: center;
  }

  ul {
    margin-bottom: 1rem !important;
  }

  .micro-eye-logo {
    text-align: center !important;
    width: 300px !important;
    height: 160px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
}

@media screen and (max-width: 867px) {
  ul li a {
    font-size: 1rem;
  } 
}

@media screen and (max-width: 612px) {

  h1 {
    font-size: 1.3rem !important;
    margin-bottom: 0.5rem !important;
    font-weight: bold;
  } 

  ul li a {
    font-size: 1rem;
  } 

  .navigaation-bar ul {
    display: block !important;
    text-align: center;
  }
  .navigaation-bar ul i {
    display: block !important;
    text-align: center;
    padding: 0 10px !important;
    align-items: center !important;
  }
  .fw-bold  {
    text-align: center !important;
  }

}













.sidebar-logo {
  width: 300px !important;
  height: 140px !important;
  margin-left: 1.2rem !important;
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

.fa-bars:before {
  margin-top: 0.3rem !important;
}